
<header>
  <nav class="navbar">
    <div class="nav-container">
      <div class="brand">
        <img id="brand-logo" src="/assets/neoprism.svg" alt="NeoPrism" class="brand-logo">
        <span class="brand-text">NeoPrism</span>
      </div>
      <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu" id="menu">
        <div class="menu-inner">
          <a id="nav-inicio" href="/index.html">Inicio</a>
          <a id="nav-servicios" href="/pages/servicios.html">Servicios</a>
          <!-- <a id="nav-portafolio" href="/pages/portafolio.html">Portafolio</a>
          <a id="nav-precios" href="/pages/precios.html">Precios</a> -->
          <a id="nav-nosotros" href="/pages/nosotros.html">Nosotros</a>
          <a id="nav-contacto" href="/pages/contacto.html">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
</header>